<footer class="footer">
            <div class="social-icons">
                <a href="#">
                    <i class="bx bxl-github"></i>
                </a>
                <a href="#">
                    <i class="bx bxl-instagram-alt"></i>
                </a>
                <a href="#">
                    <i class="bx bxl-twitter"></i>
                </a>
            </div>

            <ul class="list">
                <li>
                    <a href="#">FAQ</a>
                </li>
                <li>
                    <a href="#trabajos">Trabajos</a>
                </li>
                <li>
                    <a href="#sobre-mi">Sobre mi</a>
                </li>
                <li>
                    <a href="#contacto">Contacto</a>
                </li>

            </ul>

            <p class="copy-right">
                &copy; 2025 Vanessa Valladares. Todos los derechos reservados.
            </p>
        </footer>