<header class="navegador">
    <a href="#inicio" class="logo"> Vanessa
        <span>Valladares</span></a>

    <i class="bx bx-menu" id="menu-icon"></i>
    <nav class="navbar">
        <a href="#inicio">Inicio</a>
        <a href="#sobre-mi">Sobre mi</a>
        <a href="#trabajos">Trabajos</a>
        <a href="#habilidades">Habilidades</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>